@page
@model About

@{
    ViewData["Title"] = "About";
}

<h1>About Copilot Pioneer</h1>

<p>The MTT Copilot Pioneers is a daily internal initiative that encourages Microsoft Technical Trainers to become pioneers in using Microsoft Copilot 365 in Word, Excel, PowerPoint, Teams, Loops, Forms, and Whiteboard. by allowing you to showcase your proficiency, learn from others, and enhance your skills with templates, tips, and tricks through daily contributions. As you contribute and improve the accuracy of your completions, you stand a chance to earn badges and gain recognition in the MTT community. The focus of this initiative is presently limited to our MTT NE Team, but we plan to expand it to our global MTT community.</p>

<h2>Points</h2>
<ul>
    <li>A Copilot prompt submission per day is worth 3 points. No points are granted for additional submission the same day.</li>
    <li>One point is awarded for casting a daily vote.</li>
    <li>Two points are awarded for casting a weekly vote.</li>
    <li>One point is awarded per daily vote cast on your prompt.</li>
    <li>Two points are awarded per weekly votes cast on your prompts.</li>
</ul>

<h2>Complaints/suggestions</h2>
<p>Click <a href="mailto:jbilodeau@microsoft.com">here</a></p>

<h2>Praises</h2>
<p>Click <a href="mailto:jeanjoseph@microsoft.com">here</a></p>