@page
@model About

@{
    ViewData["Title"] = "About";
}

<h1>About Copilot Pioneer</h1>

<h2>Points</h2>
<ul>
    <li>A Copilot prompt submission per day is worth 3 points. No points are granted for additional submission the same day.</li>
    <li>One point is awarded for casting a daily vote.</li>
    <li>Two points are awarded for casting a weekly vote.</li>
    <li>One point is awarded per daily vote cast on your prompt.</li>
    <li>Two points are awarded per weekly votes cast on your prompts.</li>
</ul>