@page "/Admin"
@model Administration

@{
    ViewBag.Title = "Admin";
}

<h1>Administration</h1>

<div>
    <form method="post">
        <button asp-page-handler="TallyVotes">Tally votes</button>
    </form>
</div>

<div>
    <form method="post">
        <button asp-page-handler="ClearMemoryCache">Clear memory cache</button>
    </form>
</div>

