@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Latest submissions</h1>
    @foreach (var submission in Model.Submissions)
    {
        <partial name="/Pages/Partials/SubmissionSummary.cshtml" model="@submission"/>
        <SubmissionSummary Submission="submission" />
    }
</div>