@page "/Leaderboard"
@model Leaderboard

@{
    ViewData["Title"] = "Leaderboard";
}

<div>
    <h2>Leaderboard</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Profile</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.LeaderboardEntries)
            {
                <tr>
                    <td>@entry.Rank</td>
                    <td>
                        <a asp-page="ProfileView" asp-route-id="@entry.UserId">
                            @entry.Name
                        </a>
                    </td>
                    <td>@entry.Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>