@page "/Profile/{userId}"
@model ProfileView

@{
    ViewData["Title"] = "Profile";
}

@if (Model.Profile == null)
{
    <p>Profile not found</p>
    return;
}

<h3>@Model.Profile.GetDisplayName()</h3>

<p>@Model.Profile.Id</p>
<p>@Model.Profile.Points points</p>
<h3>Submissions</h3>
@foreach (var submission in Model.Submissions)
{
    <partial name="/Pages/Partials/SubmissionSummary.cshtml" model="@submission"/>
    <SubmissionSummary Submission="submission"/>
}
