@page "/Profile/Edit"
@using System.Reflection.Metadata.Ecma335
@using CopilotPioneer.Web.Models
@model ProfileEdit

@{
    ViewData["Title"] = "Edit Profile";
}

<div>
    <h3>Edit my profile</h3>

    <form method="post">
        <p>
            <label>User ID:</label>
            @Model.Profile.Id
        </p>
        <p>
            <label>Points</label>
            @Model.Profile.Points
        </p>
        <p>
            <label asp-for="Profile.Name">Name:</label>
            <input type="text" id="DisplayName" name="Name" asp-for="Profile.Name"/>
        </p>
        <p>
            <button type="submit">Save</button>
            <a asp-page="ProfileView" asp-route-id="@Model.Profile.Id">Cancel</a>
        </p>
    </form>
</div>