@page "/Profile/View/{id}"
@model ProfileView

@{
    ViewData["Title"] = "Profile";
}

<h3>@Model.Profile.GetDisplayName() 
    @if (User.Identity?.Name == Model.Profile.Id)
    {
        <small>
            <a asp-page="ProfileEdit" class="fa fa-pen"></a>
        </small>
    }
</h3 >

@* <p>@Model.Profile.Id</p> *@
<p>???</p>
<p>@Model.Profile.Points points</p>
<h3>Submissions</h3>
@foreach (var submission in Model.Submissions)
{
    <partial name="/Pages/Partials/SubmissionSummary.cshtml" model="@submission"/>
    <SubmissionSummary Submission="submission"/>
}
