@page "/Submission/Create"
@model SubmissionCreate

@{
    ViewData["Title"] = "Prompt Submission";
}

<div>
    <h1 class="display-4">Submit a Prompt</h1>
    
    <form method="post">
        <div class="form-group">
            <label asp-for="Submission.Product"></label>
            <select class="form-control"  asp-for="Submission.Product">
                @foreach(var product in Model.PioneerService.GetProducts())
                {
                    <option value="@product.Id">@product.Label</option>
                }
            </select>
            <span asp-validation-for="Submission.Product" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Submission.Title"></label>
            <input class="form-control" asp-for="Submission.Title"/>
            <span asp-validation-for="Submission.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Submission.Prompt"></label>
            <textarea class="form-control" rows="5" cols="80" asp-for="Submission.Prompt"></textarea>
            <span asp-validation-for="Submission.Prompt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Submission.Notes"></label>
            <textarea class="form-control" rows="5" cols="80" asp-for="Submission.Notes"></textarea>
            <small>(#hashtags are supported in notes)</small>
            <span asp-validation-for="Submission.Notes" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>(The ability to add screenshots/images coming soon)</p>
</div>
