@page
@model CopilotPioneer.Web.Pages.Tags

@{
    ViewData["Title"] = "Tags";
}

<div>
    <h1 class="display-4">Submissions</h1>
    <div>
        @foreach (var tag in Model.Submissions)
        {
            <span class="badge badge-secondary"><a href="/Tags/@tag">@tag</a></span>
        }
    </div>
</div>