@page "{id}"
@model Submissions

@{
    ViewBag.Title = "Submission";
    Layout = "_Layout";
}

@if (Model.Submission == null)
{
    <p>Submission not found</p>
    return;
}

<h2>Submission</h2>

<p>
    <strong>Author:</strong>
    @Model.Submission.Author
</p>
<p>
    <strong>Product:</strong>
    @Model.Submission.Product
</p>