@page "/SubmitPrompt"
<h3>Submit your prompt</h3>

<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div>
        <label>
            <h4>Submission title:</h4>
            <InputText Width="80" @bind-Value="Model.Title"/>
        </label>
    </div>
    <div>
        <label>
            <h4>Product:</h4>
            <InputSelect @bind-Value="Model.Product">
                @foreach (var product in PioneerService.GetProducts())
                {
                    <option value="@product.Id">@product.Label</option>
                }
            </InputSelect>
        </label>
    </div>
    <div>
        <label>
            <h4>Prompt:</h4>
            <InputTextArea Rows="5" Cols="80" @bind-Value="Model.Prompt"></InputTextArea>
        </label>
    </div>
    <div>
        <label>
            <h4>Notes/description (optional)</h4>
            <InputTextArea Rows="5" Cols="80" @bind-Value="Model.Notes"></InputTextArea>
        </label>
    </div>
    <div>
        <label>
            <h4>Screenshots (optional but recommended)</h4>
        </label>
    </div>
    <input type="text" name="prompt"/>
    <button type="submit">Submit</button>
</EditForm>

@code {

}