@model CopilotPioneer.Web.Models.Submission

<div>
    <h3>
        <a href="/Submissions/@Model.Id">
            @Model.Title
        </a>
    </h3>
    <pre>@Model.Title</pre>
    <small>- @Model.Author @@ @Model.CreatedDate</small>
</div>